* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 70px;

    nav {
        .allmenu {
            display: flex;
            align-items: center;
            justify-content: center;

            .navul {
                gap: 20px;

                .homeli {
                    a {
                        color: #7FAD39;
                    }
                }

                li {
                    font-size: 14px;
                    font-weight: 900;
                    transition: 0.3s seson;

                    a:hover {
                        color: #7FAD39;
                    }
                }
            }
        }

        .icon-text {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                font-size: 20px;
            }

            .text {
                p {
                    margin: auto;

                    span {
                        margin: auto;
                        font-weight: 900;
                    }
                }

            }
        }
    }
}
//

.allCatagory{
    width: 100%;
    .vegetable{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        button{
            width: 15%;
            min-height: 45px;
            border: none;
            background-color: #7FAD39;
            color: white;
        }
        .div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;  
        }
    }
    .Organic{
        display: flex;
        width: 100%;
        min-height: 350px;
        align-items: center;
        background-size: cover;
        background-image: url('https://preview.colorlib.com/theme/ogani/img/hero/banner.jpg');
        .Free{
            width: 100%;
            padding-left: 30px;
            h1{
                font-weight: 800;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            button{
               padding: 12px 30px;
                background-color: #7FAD39;
                border: none;
                color: white;
                margin-top: 20px;

            }
        }
    }
}
@media screen and (max-width:448px) {
    .allCatagory{
        .vegetable {
           display: none;
        }
    }
}

@media screen and (max-width:992px) {
    #fruit {
        .fresh {
            h1 {
                font-size: 40px;
            }
        }
    }

}

@media screen and (max-width:448px) {
    #fruit {
        .fresh {
            h1 {
                font-size: 30px;
            }
        }
    }
}

#organic {
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .wegetables {
        .img {
            img {
                width: 100%;
            }
        }

        .text-vegatable {
            text-align: center;

            p {
                font-weight: 700;
                font-size: 20px;
            }
        }
    }
}

#featured-product {
    width: 100%;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;

    .featured {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .line {
            background-color: #7FAD39;
            width: 10%;
            min-height: 3px;
        }

        .list {
            width: 100%;
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                display: flex;
                justify-content: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;

                li {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}
#production {
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;


    .container {    
        #popular {
        flex-wrap: wrap;
        display: flex;
        .searchDiv{
            img{
                width: 50%;
            }
        }
        
    }

        .button {
            display: flex;
            align-items: end;
            justify-content: end;

            button {
                color: rgb(255, 255, 255);
                background-color: black;
                padding: 14px 44px;

                &:hover {
                    color: black;
                    background-color: #FFFF;
                }
            }
        }

        #product {
            display: flex;
            align-items: center;
            justify-content: center;

            #abcd {
                min-height: 100px;
            }

            input {
                width: 30%;
                min-height: 40px;
                border-radius: 50px 0px 0px 30px;
            }

            #btn {
                max-width: 160px;
                padding: 7px;
                color: #FFFF;
                border-radius: 0px 20px 20px 0px;
                background-color:#7FAD39;
            }

            .boxDiv {
                min-height: 300px;

                .button {
                    color: #FFFF;
                    background-color:#7FAD39;
                    border-radius: 20px;
                    transition: 1s;
                    border: 1px solid #7FAD39;
                    padding: 8px;

                    &:hover {
                        background-color: #FFFF;
                        color: #7FAD39;
                    }
                }
            }
        }
    }
}

// form
#populiary {
    width: 100%;
    min-height: 400px;
    background-color: #EFEFEF;

    .TABLE {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 250px;
        width: 100%;

        h5 {
            color: #7FAD39;
            font-size: 30px;
            font-family: poppins;
        }

        h3 {
            color: black;
            font-size: 60px;
            font-family: poppins;
            font-weight: 900
        }
    }

    .watch {
        min-height: 950px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            min-height: 650px;
            width: 100%;
        }
    }
}
#vegatable-frute{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    .frute{
       img{
         width: 100%;
       }
    }
}